
<div id="header">
<div class="logo"><img src="http://www.creationlogo.org/wp-content/uploads/2017/08/Logo_TV_2015.png"/ width="100px;">
</div>
 <div class="menu">
       <div class="navbar">
         <div class="dropdown">
         <button class="dropbtn">Product
          <i class="fa fa-caret-down"></i>
         </button>
           <div class="dropdown-content">
           <a href="https://checkr.com/product/">Overview</a>
           <a href="https://checkr.com/product/screenings/">Screenings</a>
           <a href="https://checkr.com/product/compliance/">Compliance</a>
           <a href="https://checkr.com/product/security/">Security</a>
           </div>
         </div>
          <div class="dropdown">
         <button class="dropbtn">Staffing
          <i class="fa fa-caret-down"></i>
         </button>
          <div class="dropdown-content">
          <a href="https://checkr.com/industries/staffing/">Overview</a>
          </div>
          </div>

          <div class="dropdown">
           <button class="dropbtn">Industries
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="https://checkr.com/industries/">Overview</a>
             <a href="https://checkr.com/industries/contact-centers/">Contact Center</a>
             <a href="https://checkr.com/industries/retail-hospitality/">Retail & Hospitality</a>
             <a href="https://checkr.com/industries/nonprofit/">Non-Profit</a>
             <a href="https://checkr.com/industries/manufacturing/">Manufacturing</a>
             <a href="https://checkr.com/industries/small-business/">Smal Business</a>
             <a href="https://checkr.com/industries/staffing/">Staffing</a>
             <a href="https://checkr.com/industries/financial-services/">Financial Services</a>
             <a href="https://checkr.com/industries/healthcare/">Healthcare</a>
             <a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a>
             <a href="https://checkr.com/industries/software-and-technology/">Software & Technology</a>
             <a href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a>
            </div>
           </div>

           <div class="dropdown">
           <button class="dropbtn">Resources
           <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
           <a href="https://checkr.com/resources/">Overview</a>
           <a href="https://checkr.com/resources/white-papers/">Guides & White Papers</a>
           <a href="https://checkr.com/resources/faq/">FAQ</a>
           </div>
           </div>


           <div class="dropdown">
            <a href="https://checkr.com/compliance-library/">Compliance</a>
           </div>

           <div class="dropdown>">
           <a href="https://dashboard.checkr.com/login?next=%2Freports">Login</a>
           </div>

           <div class="dropdown">
           <a href="https://checkr.com/contact-us/">GetStarted</a>
           </div>

       </div>
   </div>
</div>



<div id="content">
<h1>HIRE GREAT PEOPLE.</h1></br>
<h1>FASTER.</h1></br>
<p>Checkr provides modern and compliant background checks for global enterprises and startups
</p>
<div class="bouton">
<a href="https://checkr.com/product/">Explore Now></a>
</div>
</div>

<div id="content2">
  <a href="https://applicant.checkr.com"> I Am an Applicant</a>
  <a href="https://docs.checkr.com">API & Docs</a>
  <a href="https://checkr.com/about/">About us</a>
  <a href="https://checkr.com/careers/">Careers</a>
</div>


<div id="content3">
<video src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" controls poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" width="600"></video>
 </div>
